<div class="col-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="col-4">
      <img src="assets/images/sarslogo.png" width="290px"  height="90px">
    </div>
    <div class="col-4">
      <div  class="collapse navbar-collapse" id="navbarResponsive">
        <h1 style="text-align: center; color: rgb(2, 114, 179); font-size: x-large; font-weight: bold;" class="col-12 text-lg">Talent Conversations</h1>
      </div>
    </div>
    <div class="col-4">
      <div  class="collapse navbar-collapse" id="navbarResponsive">
      </div>
    </div>
  </nav>
</div>
